@charset "UTF-8";
/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Style de typographie de base pour copier du texte
 */
header #header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
header #header i {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 33px 0 0 10px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
header #header i:hover {
  transform: scale(1.1);
  color: #E0E0E0;
}
header #header #name {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px 0 0 10px;
}
header #header #name h1 {
  position: relative;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
}
header #header #name p {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  padding-top: 3px;
}
header #header #pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  padding: 15px 10px 0 0;
  cursor: pointer;
}
header #header #pokeball svg {
  position: relative;
  transition: all 0.5s ease-in-out;
}
header #header #pokeball svg:hover {
  transform: rotate(360deg);
  fill: #E0E0E0;
}
header #visualSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header #visualSection #nameJpn {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.517);
  padding: 18px 0 0 31px;
}
header #visualSection #imagePokemon {
  position: absolute;
  top: -45%;
  left: -2%;
}
header #visualSection #imagePokemon #svg {
  position: absolute;
  -webkit-clip-path: none;
          clip-path: none;
  top: calc(50% + 40px);
  left: calc(50% + 45px);
  animation: rotate 5s infinite linear;
  fill: #E0E0E0;
  fill-opacity: 0.4;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header #visualSection #imagePokemon img {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
  top: calc(50% + 60px);
  left: calc(50% + 80px);
}
header #visualSection #shinyType {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px 8px 0 0;
  top: -33px;
  right: -1px;
}
header #visualSection #shinyType #imageShiny {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: rgba(221, 214, 214, 0.846);
}
header #visualSection #shinyType #imageShiny img {
  position: relative;
  width: 110%;
  padding: 4px 10px 16px 10px;
}
header #visualSection #shinyType #typePokemon1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% + 180px);
  right: calc(50% - 0px);
}
header #visualSection #shinyType #typePokemon1 #type1 {
  position: relative;
  width: 38px;
  padding-bottom: 1px;
}
header #visualSection #shinyType #typePokemon1 #nameType1 {
  position: relative;
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
}
header #visualSection #shinyType #typePokemon2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% + 125px);
  right: calc(50% + 0px);
}
header #visualSection #shinyType #typePokemon2 #type2 {
  position: relative;
  width: 38px;
  padding-bottom: 1px;
}
header #visualSection #shinyType #typePokemon2 #nameType2 {
  position: relative;
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px 0 0;
  height: 527px;
  margin-top: 25px;
  box-shadow: 0px -7px 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 0;
}
main #mainSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #mainSection #genreSection {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 6px;
  right: 75%;
}
main #mainSection #descSection {
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
main #mainSection #descSection p {
  position: relative;
  font-size: 12px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  text-align: center;
  padding: 4px 15px;
}
main #mainSection #megaSection {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  top: 7px;
  left: 73%;
}
main #mainSection #megaSection img {
  position: relative;
  width: 30px;
  height: 30px;
}
main #mainSection #megaSection p {
  position: relative;
  font-size: 10px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
}
main #heightWeightSection #height {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-transform: uppercase;
}
main #heightWeightSection #height h2 {
  position: relative;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection #height p {
  position: relative;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #heightWeightSection #separator {
  position: relative;
  display: flex;
  height: 56px;
  width: 3px;
  background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
}
main #heightWeightSection #weight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-transform: uppercase;
}
main #heightWeightSection #weight h2 {
  position: relative;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection #weight p {
  position: relative;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #capacitéSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 7px;
}
main #capacitéSection #capacité1, main #capacitéSection #capacité2, main #capacitéSection #capacité3 {
  display: flex;
  align-items: center;
}
main #capacitéSection #capacité1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-right: 15%;
  padding: 0 20px;
}
main #capacitéSection #capacité2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-left: 15%;
  padding: 0 20px;
}
main #capacitéSection #capacité3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-right: 15%;
  padding: 0 20px;
  gap: 10px;
}
main #capacitéSection #capacité3 #capacitéSecret {
  position: relative;
  display: flex;
  gap: 5px;
}
main #capacitéSection #capacité3 #capacitéSecret i {
  position: relative;
  color: #FFFFFF;
}
main #capacitéSection #capacitéTitle {
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: italic;
  font-family: "Poppins";
  line-height: 16px;
}
main #capacitéSection p {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
}/*# sourceMappingURL=main.css.map */