@charset "UTF-8";
/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 390px;
  max-height: 844px;
  background: linear-gradient(90deg, #4B4F2A 7.29%, #A7B723 100%);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Style de typographie de base pour copier du texte
 */
header #header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #4B4F2A 7.29%, #A7B723 100%);
}
header #header i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 10px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: #fff;
}
header #header #name {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px 0 0 0;
}
header #header #name h1 {
  position: relative;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
}
header #header #name p {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  padding-top: 3px;
}
header #header #pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  padding: 15px 10px 0 0;
  cursor: pointer;
}
header #visualSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header #visualSection #nameJpn {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  color: rgba(184, 184, 184, 0.4);
  padding: 21px 0 0 31px;
}
header #visualSection #imagePokemon {
  position: absolute;
}
header #visualSection #imagePokemon #svg {
  position: absolute;
  -webkit-clip-path: none;
          clip-path: none;
  top: -41px;
  left: 45px;
}
header #visualSection #imagePokemon img {
  position: absolute;
  width: 280px;
  height: 280px;
  z-index: 1;
  top: -48px;
  left: 61px;
}
header #visualSection #shinyType {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px 8px 0 0;
  top: -33px;
  right: -1px;
}
header #visualSection #shinyType #imageShiny {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #fff;
}
header #visualSection #shinyType #imageShiny img {
  position: relative;
  width: 10;
  height: 70;
  padding: 4px 10px 16px 10px;
}
header #visualSection #shinyType #typePokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 31px 5px 0 0;
}
header #visualSection #shinyType #typePokemon #type1,
header #visualSection #shinyType #typePokemon #type2 {
  width: 38px;
  padding-bottom: 4px;
}
header #visualSection #shinyType #typePokemon #nameType1,
header #visualSection #shinyType #typePokemon #nameType2 {
  position: relative;
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
  margin-bottom: 7px;
}/*# sourceMappingURL=main.css.map */