@charset "UTF-8";
/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  max-width: 390px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Style de typographie de base pour copier du texte
 */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  z-index: 999;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header #header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
header #header i {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 33px 0 0 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
header #header i:hover {
  transform: scale(1.1);
  color: #E0E0E0;
}
header #header #name {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0 0 10px;
}
header #header #name h1 {
  position: relative;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
}
header #header #name p {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  padding-top: 3px;
}
header #header #pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #FFFFFF;
  padding: 15px 10px 0 0;
  cursor: pointer;
}
header #header #pokeball svg {
  position: relative;
  transition: all 0.5s ease-in-out;
}
header #header #pokeball svg:hover {
  transform: rotate(360deg);
  fill: #E0E0E0;
}
header #visualSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 200px;
}
header #visualSection #nameJpn {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.517);
  padding: 20px 0 0 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #visualSection #imagePokemon {
  position: absolute;
  top: -45%;
  left: -2%;
}
header #visualSection #imagePokemon #svg {
  position: absolute;
  width: 300px;
  -webkit-clip-path: none;
          clip-path: none;
  top: calc(50% + 50px);
  left: calc(50% + 60px);
  animation: rotate 10s infinite linear;
  fill: #E0E0E0;
  fill-opacity: 0.1;
  filter: opacity(0.4);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header #visualSection #imagePokemon img {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  top: calc(50% + 100px);
  left: calc(50% + 110px);
}
header #visualSection #shinyType {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 15px 15px 0 0;
  top: -33px;
  right: -1px;
}
header #visualSection #shinyType #imageShiny {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  top: 0%;
  right: 0%;
  border-radius: 50%;
}
header #visualSection #shinyType #imageShiny img {
  position: relative;
  width: 110%;
  padding: 4px 10px 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 214, 214, 0.29);
  border-radius: 50%;
  border: 1px solid rgba(221, 214, 214, 0.571);
}
header #visualSection #shinyType #typePokemon2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% + 180px);
  right: calc(50% - 0px);
}
header #visualSection #shinyType #typePokemon2 #type2 {
  position: relative;
  width: 38px;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #E0E0E0;
}
header #visualSection #shinyType #typePokemon2 #nameType2 {
  position: relative;
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
}
header #visualSection #shinyType #typePokemon1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(50% + 125px);
  right: calc(50% + 0px);
}
header #visualSection #shinyType #typePokemon1 #type1 {
  position: relative;
  width: 38px;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #E0E0E0;
}
header #visualSection #shinyType #typePokemon1 #nameType1 {
  position: relative;
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
}
header #visualSection #shinyType #typePokemon2 {
  display: flex;
}
header #visualSection #shinyType #typePokemon1 {
  top: calc(50% + 125px);
}
header #visualSection #shinyType else #typePokemon2 {
  display: none;
}
header #visualSection #shinyType else #typePokemon1 {
  top: calc(50% + 152.5px);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px 0 0;
  margin-top: 25px;
  box-shadow: 0px -7px 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 0;
}
main #mainSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #mainSection #genreSection {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 6px;
  right: 75%;
}
main #mainSection #descSection {
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
main #mainSection #descSection p {
  position: relative;
  font-size: 12px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  text-align: center;
  padding: 4px 15px;
}
main #mainSection #megaSection {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  top: 7px;
  left: 73%;
}
main #mainSection #megaSection img {
  position: relative;
  width: 30px;
  height: 30px;
}
main #mainSection #megaSection p {
  position: relative;
  font-size: 10px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
}
main #heightWeightSection #height {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-transform: uppercase;
}
main #heightWeightSection #height h2 {
  position: relative;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection #height p {
  position: relative;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #heightWeightSection #weight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-transform: uppercase;
}
main #heightWeightSection #weight h2 {
  position: relative;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #heightWeightSection #weight p {
  position: relative;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 32px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #capacitéSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 7px;
}
main #capacitéSection #capacité1, main #capacitéSection #capacité2, main #capacitéSection #capacité3 {
  display: flex;
  align-items: center;
}
main #capacitéSection #capacité1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-right: 15%;
  padding: 0 20px;
}
main #capacitéSection #capacité2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-left: 15%;
  padding: 0 20px;
}
main #capacitéSection #capacité3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 34px;
  border-radius: 10px 20px;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-right: 15%;
  padding: 0 20px;
  gap: 10px;
}
main #capacitéSection #capacité3 #capacitéSecret {
  position: relative;
  display: flex;
  gap: 5px;
}
main #capacitéSection #capacité3 #capacitéSecret i {
  position: relative;
  color: #FFFFFF;
}
main #capacitéSection #capacitéTitle1, main #capacitéSection #capacitéTitle2, main #capacitéSection #capacitéTitleSecret {
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: italic;
  font-family: "Poppins";
  line-height: 16px;
}
main #capacitéSection p {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
}
main #separator {
  position: relative;
  display: flex;
  height: 56px;
  width: 3px;
  background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
}
main #statsSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 50px 13px 50px;
}
main #statsSection #statsRight {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
}
main #statsSection #statsRight #nameStatsRight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  gap: 22px;
}
main #statsSection #statsRight #valueStatsRight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  text-transform: uppercase;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  padding-right: 10px;
}
main #statsSection #separatorStats {
  position: relative;
  display: flex;
  height: 95px;
  width: 3px;
  background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
}
main #statsSection #statsLeft {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
main #statsSection #statsLeft #nameStatsLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  gap: 22px;
}
main #statsSection #statsLeft #valueStatsLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  text-transform: uppercase;
  font-size: 25px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  padding-left: 10px;
}
main #generationInfos {
  position: absolute;
  display: flex;
  bottom: 20%;
  left: 109%;
}
main #generationInfos #generationText {
  font-size: 15px;
  color: #000;
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins";
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #MegaSprite {
  position: absolute;
  z-index: -1;
  bottom: 120px;
  right: 280px;
}
main #MegaSprite #MegaSpriteBackground {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  opacity: 0.2;
}
main #resistanceSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
main #resistanceSection #resistanceTitle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 11px;
}
main #resistanceSection #resistanceTitle h2 {
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #resistanceSection #resistanceLogo {
  position: relative;
  width: 100%;
  display: flex;
}
main #resistanceSection #resistanceLogo div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #resistanceSection #resistanceLogo div img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
main #resistanceSection #resistanceLogo div p {
  position: relative;
  width: auto;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #resistanceSection #resistanceTuto {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 6px;
  margin-top: 9px;
}
main #resistanceSection #resistanceTuto p {
  position: relative;
  font-size: 7px;
  color: #666666;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 12px;
}
main #evolveSection {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #B7BFCE 5.21%, #6493EB 100%);
  margin-top: 6px;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #evolveSection #evolveTitle {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
  border-radius: 0 0 30px 30px;
  padding: 5px 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
main #evolveSection #evolveInfo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}
main #evolveSection #evolveInfo #evolveName {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 10px;
}
main #evolveSection #evolveInfo #evolveName #evolveNameText {
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
}
main #evolveSection #evolveInfo #evolveName #evolveNameId {
  position: relative;
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}
main #evolveSection #evolveInfo #evolveCondition {
  position: relative;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  line-height: 16px;
}/*# sourceMappingURL=main.css.map */