// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------

header {
        #header {
                position: relative;
                display: flex;
                justify-content: space-between;

                & i {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        padding: 33px 0 0 10px;
                        cursor: pointer;
                        color: $white;
                        transition: all 0.3s ease;

                        &:hover {
                                transform: scale(1.1);
                                color: $light-gray;
                        }
                }

                & #name {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 33px 0 0 10px;

                        & h1 {
                                position: relative;
                                @include fontPoppins700(30px, $white-gray);
                                line-height: 32px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins400(20px, $white-gray);
                                line-height: 16px;
                                padding-top: 3px;
                        }
                }

                & #pokeball {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 48px;
                        height: 48px;
                        color: $white-gray;
                        padding: 15px 10px 0 0;
                        cursor: pointer;

                        & svg {
                                position: relative;
                                transition: all 0.5s ease-in-out;

                                &:hover {
                                        transform: rotate(360deg);
                                        fill: $light-gray;
                                }
                        }
                }
        }

        #visualSection {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                & #nameJpn {
                        position: relative;
                        writing-mode: vertical-rl;
                        text-orientation: upright;
                        font-family: Poppins;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 20px;
                        color: rgba(255, 255, 255, 0.517);
                        padding: 18px 0 0 31px;
                }

                & #imagePokemon {
                        position: absolute;
                        top: -45%;
                        left:-2%;

                        & #svg {
                                position: absolute;
                                clip-path: none;
                                top: calc(50% + 40px);
                                left: calc(50% + 45px);
                                animation: rotate 5s infinite linear;
                                fill: $light-gray;
                                fill-opacity: 0.4;
                        }

                        @keyframes rotate {
                                0% {
                                        transform: rotate(0deg);
                                }
                                100% {
                                        transform: rotate(360deg);
                                }
                        }

                        & img {
                                position: absolute;
                                width: 250px;
                                height: 250px;
                                z-index: 1;
                                top: calc(50% + 60px);
                                left: calc(50% + 80px);
                        }
                }

                & #shinyType {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin: 15px 8px 0 0;
                        top: -33px;
                        right: -1px;

                        & #imageShiny {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 90px;
                                height: 90px;
                                top: 0%;
                                right: 0%;
                                border-radius: 50%;
                                border: 3px solid $white;
                                background-color: rgba(221, 214, 214, 0.846);

                                & img {
                                        position: relative;
                                        width: 110%;
                                        padding: 4px 10px 16px 10px;
                                }
                        }

                        & #typePokemon1 {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                top: calc(50% + 180px);
                                right: calc(50% - 0px);

                                & #type1 {
                                        position: relative;
                                        width: 38px;
                                        padding-bottom: 1px;
                                }

                                & #nameType1 {
                                        position: relative;
                                        @include fontPoppins400(8px, $white);
                                        line-height: 12px;
                                }
                        }

                        & #typePokemon2 {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                top: calc(50% + 125px);
                                right: calc(50% + 0px);

                                & #type2 {
                                        position: relative;
                                        width: 38px;
                                        padding-bottom: 1px;
                                }

                                & #nameType2 {
                                        position: relative;
                                        @include fontPoppins400(8px, $white);
                                        line-height: 12px;
                                        
                                }
                        }
                }
        }
}
