// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------


#loader_random {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        z-index: 999;
        display: none;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
header {
        #header {
                position: relative;
                @include flex-between;

                & i {
                        position: relative;
                        @include flex-center;
                        padding: 33px 0 0 20px;
                        cursor: pointer;
                        color: $white;
                        transition: all 0.3s ease;

                        &:hover {
                                transform: scale(1.1);
                                color: $light-gray;
                        }
                }

                & #name {
                        position: relative;
                        @include flex-column-center-center;
                        padding: 25px 0 0 10px;

                        & h1 {
                                position: relative;
                                @include fontPoppins700(30px, $white-gray);
                                line-height: 32px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins400(20px, $white-gray);
                                line-height: 16px;
                                padding-top: 3px;
                        }
                }

                & #pokeball {
                        @include flex-center-center;
                        width: 48px;
                        height: 48px;
                        color: $white-gray;
                        padding: 15px 10px 0 0;
                        cursor: pointer;

                        & svg {
                                position: relative;
                                transition: all 0.5s ease-in-out;

                                &:hover {
                                        transform: rotate(360deg);
                                        fill: $light-gray;
                                }
                        }
                }
        }

        #visualSection {
                position: relative;
                @include flex-between-row;
                height: 200px;

                & #nameJpn {
                        position: relative;
                        writing-mode: vertical-rl;
                        text-orientation: upright;
                        font-family: Poppins;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 20px;
                        color: rgba(255, 255, 255, 0.517);
                        padding: 20px 0 0 31px;
                        @include flex-center-center;
                }

                & #imagePokemon {
                        position: absolute;
                        top: -45%;
                        left:-2%;

                        & #svg {
                                position: absolute;
                                width: 300px;
                                clip-path: none;
                                top: calc(50% + 50px);
                                left: calc(50% + 60px);
                                animation: rotate 10s infinite linear;
                                fill: $light-gray;
                                fill-opacity: 0.1;
                                filter: opacity(0.4);
                        }

                        @keyframes rotate {
                                0% {
                                        transform: rotate(0deg);
                                }
                                100% {
                                        transform: rotate(360deg);
                                }
                        }

                        & img {
                                position: absolute;
                                width: 200px;
                                height: 200px;
                                z-index: 1;
                                top: calc(50% + 100px);
                                left: calc(50% + 110px);
                        }
                }
                

                & #shinyType {
                        position: absolute;
                        // @include flex-column-flexend-flexend;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin: 15px 15px 0 0;
                        top: -33px;
                        right: -1px;

                        & #imageShiny {
                                position: absolute;
                                @include flex-center-center;
                                width: 80px;
                                height: 80px;
                                top: 0%;
                                right: 0%;
                                border-radius: 50%;


                                & img {
                                        position: relative;
                                        width: 110%;
                                        padding: 4px 10px 16px 10px;
                                        @include flex-center-center;
                                        background-color: rgba(221, 214, 214, 0.29);
                                        border-radius: 50%;
                                        border: 1px solid rgba(221, 214, 214, 0.571);
                                }
                        }


                        & #typePokemon2 {
                                position: absolute;
                                @include flex-column-center-center;
                                top: calc(50% + 180px);
                                right: calc(50% - 0px);

                                & #type2 {
                                        position: relative;
                                        width: 38px;
                                        border-radius: 10px 10px 10px 10px;
                                        border: 3px solid $light-gray;
                                }

                                & #nameType2 {
                                        position: relative;
                                        @include fontPoppins400(8px, $white);
                                        line-height: 12px;
                                }
                        }

                        & #typePokemon1 {
                                position: absolute;
                                @include flex-column-center-center;
                                top: calc(50% + 125px);
                                right: calc(50% + 0px);

                                & #type1 {
                                        position: relative;
                                        width: 38px;
                                        border-radius: 10px 10px 10px 10px;
                                        border: 3px solid $light-gray;
                                }

                                & #nameType1 {
                                        position: relative;
                                        @include fontPoppins400(8px, $white);
                                        line-height: 12px;
                                        
                                }
                        }
                

                        @if (hasSecondType) {
                                #typePokemon2 {
                                    display: flex; // Afficher le deuxième type
                                }
                        
                                #typePokemon1 {
                                    top: calc(50% + 125px); // Ajuster la position du premier type
                                }
                            } else {
                                #typePokemon2 {
                                    display: none; // Masquer le deuxième type
                                }
                        
                                #typePokemon1 {
                                    top: calc(50% + 152.5px); // Ajuster la position du premier type
                                }
                        
                        }
                }
        }
}
