main {
        position: relative;
        @include flex-column;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 30px 30px 0 0;
        height: 527px;
        margin-top: 25px;
        box-shadow: 0px -7px 10px 10px rgba(0, 0, 0, 0.15);
        z-index: 0;

        & #mainSection {
                position: relative;
                @include flex-center-center;

                & #genreSection {
                        position: absolute;
                        @include flex-aligncenter;
                        gap: 4px;
                        top: 6px;
                        right: 75%;
                }

                & #descSection {
                        position: relative;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.5);
                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
                        margin-top: 10px;

                        p {
                                position: relative;
                                @include fontPoppins700(12px, $medium-gray);
                                line-height: 16px;
                                text-align: center;
                                padding: 4px 15px;
                        }
                }

                & #megaSection {
                        position: absolute;
                        @include flex-aligncenter;
                        gap: 2px;
                        top: 7px;
                        left: 73%;

                        & img {
                                position: relative;
                                width: 30px;
                                height: 30px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(10px, $medium-gray);
                                line-height: 16px;
                        }
                }
        }
        & #heightWeightSection {
                position: relative;
                @include flex-center-center;
                padding-top: 27px;

                & #height {
                        position: relative;
                        @include flex-column-center-center;
                        width: 35%;
                        text-transform: uppercase;

                        & h2 {
                                position: relative;
                                @include fontPoppins700(14px, $medium-gray);
                                line-height: 16px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(25px, $medium-gray);
                                line-height: 32px;
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                        }
                }

                & #weight {
                        position: relative;
                        @include flex-column-center-center;
                        width: 35%;
                        text-transform: uppercase;

                        & h2 {
                                position: relative;
                                @include fontPoppins700(14px, $medium-gray);
                                line-height: 16px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(25px, $medium-gray);
                                line-height: 32px;
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                        }
                }
        }

        & #capacitéSection {
                position: relative;
                @include flex-column-center-center;
                padding-top: 10px;
                gap: 7px;

                & #capacité1,
                & #capacité2,
                & #capacité3 {
                        @include flex-aligncenter;
                }

                & #capacité1 {
                        position: relative;
                        @include flex-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-right: 15%;
                        padding: 0 20px;
                }

                & #capacité2 {
                        position: relative;
                        @include flex-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-left: 15%;
                        padding: 0 20px;
                }

                & #capacité3 {
                        position: relative;
                        @include flex-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-right: 15%;
                        padding: 0 20px;
                        gap: 10px;

                        & #capacitéSecret {
                                position: relative;
                                display: flex;
                                gap: 5px;

                                & i {
                                        position: relative;
                                        color: $white-gray;
                                }
                        }
                }

                & #capacitéTitle {
                        position: relative;
                        width: auto;
                        height: auto;
                        @include fontPoppins400Italic(20px, $white-gray);
                        line-height: 16px;
                }

                & p {
                        position: relative;
                        @include fontPoppins700(20px, $white-gray);
                }
        }

        & #separator {
                position: relative;
                display: flex;
                height: 56px;
                width: 3px;
                background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
        }

        & #statsSection {
                position: relative;
                @include flex-row-center-center;
                margin: 10px 50px 50px;

                & #statsRight {
                        position: relative;
                        @include flex-row;
                        width: 50%;

                        & #nameStatsRight {
                                position: relative;
                                @include flex-column-justify-center;
                                width: 100%;
                                text-transform: uppercase;
                                @include fontPoppins700(10px, $medium-gray);
                                gap: 22px;
                        }

                        & #valueStatsRight {
                                position: relative;
                                @include flex-column-justify-center;
                                align-items: flex-end;
                                width: auto;
                                text-transform: uppercase;
                                @include fontPoppins700(25px, $medium-gray);
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                line-height: 32px;
                                padding-right: 10px;
                        }
                }

                & #separatorStats {
                        position: relative;
                        display: flex;
                        height: 95px;
                        width: 3px;
                        background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
                }

                & #statsLeft {
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        width: 50%;

                        & #nameStatsLeft {
                                position: relative;
                                @include flex-column-justify-center;
                                align-items: flex-end;
                                width: 100%;
                                text-transform: uppercase;
                                @include fontPoppins700(10px, $medium-gray);
                                gap: 22px;
                        }

                        & #valueStatsLeft {
                                position: relative;
                                @include flex-column-justify-center;
                                align-items: flex-start;
                                width: auto;
                                text-transform: uppercase;
                                @include fontPoppins700(25px, $medium-gray);
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                line-height: 32px;
                                padding-left: 10px;
                        }
                }
        }

        & #generationInfos {
                position: absolute;
                bottom: 20%;
                left: 109%;
                margin: 0;
                padding: 0;

                #generationText {
                        @include fontPoppins300(15px, $black);
                        writing-mode: vertical-rl;
                        text-orientation: upright;
                        text-transform: uppercase;
                        background: $water-gradient;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                }
        }
}
