main {
        position: relative;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 30px 30px 0 0;
        height: 527px;
        margin-top: 25px;
        box-shadow: 0px -7px 10px 10px rgba(0, 0, 0, 0.15);
        z-index: 0;

        & #mainSection {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                & #genreSection {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        top: 6px;
                        right: 75%;
                }

                & #descSection {
                        position: relative;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.5);
                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
                        margin-top: 10px;

                        p {
                                position: relative;
                                @include fontPoppins700(12px, $medium-gray);
                                line-height: 16px;
                                text-align: center;
                                padding: 4px 15px;
                        }
                }

                & #megaSection {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        top: 7px;
                        left: 73%;

                        & img {
                                position: relative;
                                width: 30px;
                                height: 30px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(10px, $medium-gray);
                                line-height: 16px;
                        }
                }
        }
        & #heightWeightSection {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 27px;

                & #height {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 35%;
                        text-transform: uppercase;

                        & h2 {
                                position: relative;
                                @include fontPoppins700(14px, $medium-gray);
                                line-height: 16px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(25px, $medium-gray);
                                line-height: 32px;
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                        }
                }

                & #separator {
                        position: relative;
                        display: flex;
                        height: 56px;
                        width: 3px;
                        background: linear-gradient(90deg, #b7bfce 5.21%, #6493eb 100%);
                }

                & #weight {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 35%;
                        text-transform: uppercase;

                        & h2 {
                                position: relative;
                                @include fontPoppins700(14px, $medium-gray);
                                line-height: 16px;
                        }

                        & p {
                                position: relative;
                                @include fontPoppins700(25px, $medium-gray);
                                line-height: 32px;
                                background: $water-gradient;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                        }
                }
        }

        & #capacitéSection {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                gap: 7px;

                & #capacité1,
                & #capacité2,
                & #capacité3 {
                        display: flex;
                        align-items: center;
                }

                & #capacité1 {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-right: 15%;
                        padding: 0 20px;
                        
                }

                & #capacité2 {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-left: 15%;
                        padding: 0 20px;
                }

                & #capacité3 {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 244px;
                        height: 34px;
                        border-radius: 10px 20px;
                        background: $water-gradient;
                        margin-right: 15%;
                        padding: 0 20px;
                        gap: 10px;


                        & #capacitéSecret {
                                position: relative;
                                display: flex;
                                gap: 5px;

                                & i {
                                        position: relative;
                                        color: $white-gray;
                                }

                        }
                }

                & #capacitéTitle {
                        position: relative;
                        width: auto;
                        height: auto;
                        @include fontPoppins400Italic(20px, $white-gray);
                        line-height: 16px;
                }

                & p {
                        position: relative;
                        @include fontPoppins700(20px, $white-gray);
                }
        }

        
}
