// -----------------------------------------------------------------------------
// Ce fichier contient des styles très basiques.
// -----------------------------------------------------------------------------

/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 390px;
  max-height: 844px;
  background: $water-gradient;
  margin: 0;
  padding: 0;
  overflow: hidden;
}