// -----------------------------------------------------------------------------
// Ce fichier contient des styles spécifiques à la page d'accueil.
// -----------------------------------------------------------------------------

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    header {
        
        #header_section {
            position: relative;

            #logo_section {
                position: relative;

                #logo_pokemon {
                    position: relative;
                    width: 300px;
                }
            }

            #title_section {
                position: relative;
                #title_home {
                    position: absolute;
                    top: -25px;
                    left: 170px;
                    @include fontAudiowide400(40px, #fff);
                }
        }
        
    }
    }

    main {


        #button-home {
            position: relative;
            padding-top: 300px;


            #label_recherche {
                position: relative;
                @include fontAudiowide400(15px, #ff8000);
                text-transform: uppercase;
            }

            #recherche {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height: 40px;
                margin-top: 10px;
                gap: 9px;
                background: none;
                border: none;
                align-self: stretch;
                border-radius: 20px;    
                border-bottom: 1.75px solid #FF8000;
                @include fontAudiowide400(20px, #fff);

                &:hover {
                    border-bottom: 3.5px solid #FF8000; 
                }
                

                &::placeholder {
                    color: gray;
                    opacity: 0.2;
                    @include fontAudiowide400(20px, #fff);
                    text-align: center;
                }

                &:focus {
                    outline: none;
                    text-align: center;
                }

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    appearance: none;
                  }
            }

            #search_icon {
                position: absolute;
                top: 450px;
                left: 270px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
                
            }
        
}
}

}
