@mixin fontPoppins700(
  $size,
  $color,
  $weight: 700,
  $style: normal,
  $family: "Poppins",
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins400Italic(
  $size,
  $color,
  $weight: 400,
  $style: italic,
  $family: "Poppins",
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

// Régular

@mixin fontPoppins400(
  $size,
  $color,
  $weight: 400,
  $style: normal,
  $family: "Poppins",
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}